* {
	box-sizing: border-box;
	margin: auto;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

.songModalContainer {
	position: fixed;
	display: flex;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	max-width: 100%;
	height: 400px;
	max-height: 100%;
	padding: 20px 50px 20px 20px;
	/* let it scroll */
	overflow: auto;
	background: white;
	opacity: 0.5 !important;
}

a {
	font-style: italic;
  font-size: 14px;
}

a:hover {
	cursor: pointer;
}
