


.homeContainer {
    box-sizing: border-box;
    background-image: url(https://wallpaperaccess.com/full/158906.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.eachPhoto {
    display: flex;
    border: 5px white;
    margin: 25px;
    height: 150px;
    width: 180px;
    box-shadow: 5px 5px 10px 0px #000000;
    /* background-size: 100% 100%; */
}


.imgText {
    display: flex;
    align-content: flex-start;
    margin: 10px;
    align-items: flex-start;
}

.songText {
    border: 5px solid red;
    width: 650px;
    align-self: flex-start;
    height: 20px;
    position:flex-start;

}

.titleDuration {
border: 5px solid red;
}


/* .duration {
    float: right;
    margin-right: 50px
} */

/* https://s3.cointelegraph.com/storage/uploads/view/12aaeaf78ca47c94da141ef52c84e485.png */
