


.homeContainer {
    box-sizing: border-box;
    background-image: url(https://c1.wallpaperflare.com/preview/240/47/637/the-milky-way-starry-sky-stars-night-view-lockscreen-wallpaper.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
   

}

.eachPhoto {
    display: flex;
    border: 5px white;
    margin: 25px;
    height: 150px;
    width: 220px;
    box-shadow: 5px 5px 10px 0px #000000;
    /* background-size: 100% 100%; */
}

.homebttn {
    border: 5px solid red;
}

.imgText {
    display: flex;
    align-content: flex-start;
    margin: 10px;
}

.songText {
    border: 5px solid orange;
    width: 650px;
    height: 20px;
    justify-content: space-between;
}




/* .duration {
    float: right;
    margin-right: 50px
} */

/* https://s3.cointelegraph.com/storage/uploads/view/12aaeaf78ca47c94da141ef52c84e485.png */
