.uploadContainer {
    box-sizing: border-box;
    margin: 0 auto;

    height: 400px;
    width: 700px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7V8fpdatryU3yDcLtdDSGcNEHFUF8u7bZdH_9hawD6cwMre_3VTAiyw_630d88rOSG1s&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 100px;
    box-shadow: 5px 5px 10px 0px #000000;

}

.uploadSubmitButton {
    width: 60px;
    color: black;
    width: 70px;
    padding: 2px;
}

.uploadSubmitButton:hover {
    cursor: pointer;
    border: 2px solid rgb(43, 42, 42);
	background-color: rgb(248, 73, 20)
}

form {
    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;
}

.uploadPageContainer {
    position: fixed;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    background-image: url(https://wallpaperaccess.com/full/158906.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 61px; /* Header Height */
    bottom: 20px; /* Footer Height */
    background-size: 100% 100%;

}

.trackTitle:focus {
    color: white;
    outline: 2px solid rgb(248, 164, 9);
}

.trackTitleUpload {
    height: 25px;
    width: 180px;
}

.coverArt {
    height: 25px;
    width: 180px;

}

.coverArt:focus {
    color: white;
    outline: 2px solid rgb(248, 164, 9);

}

.uploadButton {
border-radius: 5px;
padding: 5px;
width: 200px;
background-color: rgb(248, 73, 20)
}

.uploadButton:hover {
    cursor: pointer;
    border: 2px solid rgb(43, 42, 42);
	background-color: rgb(248, 73, 20)
}

.dragAndDrop {
    padding-top: 25px;
}

.userId {
    height: 25px;
    width: 180px;
}

.userId:focus {
    color: white;
	outline: 2px solid rgb(248, 164, 9);
}
