.container {
	box-sizing: border-box;
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	background-image: url(./19609.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.header-box {
	display: flex;
	flex-direction: column;
	height: 320px;
	align-items: stretch;
}

.title {
	display: flex;
	flex-direction: column;
	align-self: center;
	font-size: 40px;
	height: 5px;
	text-shadow: 0 0 10px blue;
	color: white;
	font-family: "Helvetica Neue";
}

.caption {
	display: flex;
	flex-direction: column;
	font-family: "Helvetica Neue";
	text-shadow: 0 0 10px blue;
	color: white;
	position: relative;
	margin-top: 50px;
}

.apple {
	height: 18px;
	width: 18px;
	position: relative;
	margin-right: 40px;
	border-radius: 15px;
	right: -40px;
}

.appleLine {
	display: flex;
	left: -20px;
}


.glow-on-hover {
	width: 170px;
	height: 55px;
	color: black;
	background-color: black;
	cursor: pointer;
	position: relative;
	margin-bottom: 120px;
	z-index: 0;
	border-radius: 8px;
	justify-content: center;
}
.appText {
	font-size: 15px;
	padding: 4px 6px 3px 6px;
	font-family: "Book Antiqua";
	color: black;
	font-weight: bold;
}

.glow-on-hover:before {
	content: "";
	background: linear-gradient(45deg, #24b8c5, #f0f0f0, #102dd1, #008cff);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

.glow-on-hover:active {
	color: #fff;
}

.glow-on-hover:active:after {
	background: transparent;
}

.glow-on-hover:hover:before {
	opacity: 1;
}

.glow-on-hover:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.footer {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	margin-bottom: auto;
}

.column1 .column2 .column3 {
	display: flex;
	padding: 14px;
	width: 100%;
}

.trackingIcon,
.crowdIcon {
	display: flex;
	max-height: 150px;
	max-width: 150px;
	padding: 6px;
	align-self: center;
	box-shadow: inset 0 0 5px 2px;
	border-radius: 100px;
	color: white;
}

.musicIcon {
	display: flex;
	max-height: 140px;
	max-width: 150px;
	padding: 6px;
	align-self: center;
	box-shadow: inset 0 0 5px 2px;
	border-radius: 80px;
	color: white;
}

.h1Caption {
	display: flex;
	justify-content: center;
	color: white;
	font-size: 22px;
}

.pTag {
	display: flex;
	justify-content: center;
	max-width: 190px;
	padding: 12px;
	font-size: 18px;
	color: white;
	text-shadow: 0 0 10px black;
}

/* .trackingIcon {
    max-height: 150px;
    max-width: 150px;
    padding: 10px;

}

.crowdIcon {
    max-height: 150px;
    max-width: 150px;
    padding: 10px;

} */
