* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.modalContainer {
    max-height: 600px !important;
    max-width: 200px;
    background-color: yellow;
}
